@import "variables";
@import "header";
@import "footer";
@import "fonts";

.we_can {
  padding: 180px 0 125px;
  background-image: url("../img/we.png");
  background-size: cover;
  text-align: center;

  h3 {
    margin: 0;
    color: $first-text-color;
    font: 300 32px $primari-font-light;
    letter-spacing: -0.8px;
  }

  h1 {
    margin-top: 40px;
    margin-bottom: 70px;
    color: $first-text-color;
    font: 700 66px $primari-font;
    letter-spacing: -1.65px;
  }

  button {
    width: 240px;
    height: 65px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: $first-text-color;
    font: 700 23px $primari-font;

    &:hover {
      border: 2px solid #000;
    }
  }
}

.cart_list {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    max-width: 550px;
  }

  h2 {
    margin: 0;
    color: $second-text-color;
    font: 700 60px $primari-font-bold;
  }

  p {
    margin-top: 30px;
    margin-bottom: 0;
    color: $p-color;
    font: 400 18px $primari-font;
    letter-spacing: -0.45px;
  }

  span {
    font-weight: 300;
    font-family: $primari-font-light;
    letter-spacing: -1.5px;
  }
}

.web_develop {
  padding: 100px 0;

  img {
    margin-left: 75px;
    @media only screen and (max-width: 980px), only screen
    and (max-device-width: 980px){
      margin: 0;
    }
  }
}

.identity {
  padding: 100px 0;
  background-color: #fafafa;

  img {
    margin-right: 60px;
    @media only screen and (max-width: 980px), only screen
    and (max-device-width: 980px){
      margin: 0;
    }
  }
}

@media only screen and (max-width: 980px), only screen
and (max-device-width: 980px){
  .web_develop{
    padding: 20px 0;
  }
  .identity{
    padding: 30px 0;
  }
  .cart_list{
    flex-wrap: wrap;
    text-align: center;
    .web1{
      order: 13;
    }
    div{
      width: 100%;
      margin-top: 30px;
    }
  }
}

.services_list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 100px 0;

  .services_list_items {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 40%;
    margin: 3%;
    @media only screen and (max-width: 720px), only screen
    and (max-device-width: 720px){
      width: 50%;
      margin: 3%;
    }
    @media only screen and (max-width: 580px), only screen
    and (max-device-width: 580px){
      width: 70%;
      margin: 1%;
      align-items: center;
    }
    @media only screen and (max-width: 460px), only screen
    and (max-device-width: 460px){
      display: block;
      margin: 20px;
      text-align: center;
    }

    h4 {
      margin: 0;
      color: $second-text-color;
      font: 500 22px $primari-font;
      letter-spacing: -0.55px;
    }

    p {
      margin-top: 10px;
      margin-bottom: 0;
      color: $p-color;
      font: 400 18px $primari-font;
      letter-spacing: -0.45px;
    }

    img {
      margin-right: 20px;
      @media only screen and (max-width: 460px), only screen
      and (max-device-width: 460px){
        margin: 10px 0;
      }
    }
  }
}

.awesome_clients {
  padding: 100px 0;
  background-color: #fafafa;
  text-align: center;

  h2 {
    margin: 0;
    color: $second-text-color;
    font: 700 60px $primari-font-bold;

    span {
      font: 300 60px $primari-font-light;
      letter-spacing: -1.5px;
    }
  }

  p {
    margin: 20px 0 45px;
    color: $p-color;
    font: 400 22px $primari-font;
    letter-spacing: -0.55px;
  }

  .awesome_list {
    display: flex;
    align-items: center;

    .awesome_text {
      padding: 40px 90px;
      border: 1px solid #e8e8e8;
      background-color: $first-text-color;
      text-align: left;
    }

    p {
      margin-top: 0;
      margin-bottom: 15px;
      color: $p-color;
      font: 400 26px $primari-font;
      letter-spacing: -0.65px;
    }

    cite {
      color: #7690c5;
      font: 400 20px $primari-font;
      letter-spacing: -0.5px;
    }

    img {
      margin: 0 20px;
    }
  }
}

.logo2 {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;

  li {
    margin: 0 30px;
  }
}

.amazing_team {
  text-align: center;
  padding: 100px 0;
  background-color: #111;

  h2 {
    margin: 0;
    color: $first-text-color;
    font: 400 60px $primari-font-bold;

    span {
      font: 300 60px $primari-font-light;
      letter-spacing: -1.5px;
    }
  }

  .amazing_p1 {
    margin: 5px 0;
    color: $p-color;
    font: 400 22px $primari-font;
    letter-spacing: -0.55px;
  }

  .amazing_p2 {
    max-width: 800px;
    margin: 0 auto;
    color: $first-text-color;
    font: 400 28px $primari-font-light;
    letter-spacing: -0.5px;
  }

  .social_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px 0 50px;

    li {
      margin: 30px;
    }

    h6 {
      margin: 20px 0 10px;
      color: $first-text-color;
      font: 700 18px $primari-font-bold;
      letter-spacing: -0.45px;

      span {
        display: block;
        color: $p-color;
        font: 400 18px $primari-font-light;
        letter-spacing: -0.4px;
      }
    }

    .social_icons {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 5px;
      padding-top: 12px;
      background-image: url("../img/social_background.png");
      background-repeat: no-repeat;
      color: $first-text-color;
    }
  }
}

.contact {
  padding: 100px 0;
  background-color: #7690c5;
  .contact_list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.say_hello {
  h2 {
    margin: 0;
    color: $first-text-color;
    font: 700 60px $primari-font-bold;
    letter-spacing: -1.5px;

    span {
      font: 300 60px $primari-font-light;
    }
  }

  p {
    max-width: 420px;
    color: $first-text-color;
    font: 400 18px $primari-font-light;
    letter-spacing: -0.45px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 40%;
      margin: 20px 10px 10px 0;
      display: flex;
      align-items: center;
      text-align: center;
    }

    i {
      width: 50px;
      color: $first-text-color;
    }

    span {
      display: inline-block;
      color: $first-text-color;
      font: 400 18px $primari-font-light;
    }
  }
}

.contact_form {
  width: 50%;
  .form_input {
    width: 456px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #fff;
    color: $p-color;
    font: 500 18px $primari-font;
    letter-spacing: -0.45px;
  }

  .text_area {
    width: 456px;
    max-width: 480px;
    min-width: 400px;
    max-height: 300px;
    padding-top: 15px;
    padding-left: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #fff;
    color: $p-color;
    font: 500 18px $primari-font;
    letter-spacing: -0.45px;
  }
}

